<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>



    <% end %>

<% if @article and @article.id %>
    <h4>Merge Articles</h4>
    <form name="merge_with" action="<%='/admin/content/edit/merge/' + @article.id.to_s-%>">
      Article ID <input type="text" name="merge_with"><br>
      <input type="submit" value="Merge">
    </form>
    <%= @test  %>
<% end %>
